#integracao2{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vermelho{
    color: red;
}

.azul{
    color: blue;
}

.branco{
    background-color: grey;
    color: white;
}